<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Article</title>
  <link rel="stylesheet" href="/CSS/article.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<body>
  <header>
    <div class="logo">My Profile</div>
    <nav>
      <ul>
        <li><a href="/Views/dashboard.html"><i class="fas fa-home"></i> </a></li>
        <li><a href="/Views/explore.html"><i class="fas fa-compass"></i> </a></li>
        <li><a href="/Views/notification.html"><i class="fas fa-bell"></i> </a></li>
        <li><a href="/Views/profile.html"><i class="fas fa-user"></i> </a></li>
        <li><a href="/Views/login.html"><i class="fas fa-sign-out-alt"></i></a></li>
      </ul>
    </nav>
  </header>
  <main>
    <article>
      <div class="article-container">
        <div class="article-header">
          <h1 class="article-title">Culture Day at United State University of Africa</h1>
          <div class="article-metadata">
            <div class="author-profile">
              <img src="/images/explore3.jpeg" alt="Author Profile Picture">
              <div class="author-info">
                <span class="author-name">John Doe</span>
                <span class="published-time">Published 1 hour ago</span>
              </div>
            </div>
          </div>
        </div>

        <div class="article-content">
          <p> United State University of Africa celebrated its annual Culture Day on May 30th, bringing together students,
            staff, and faculty members for a vibrant showcase of diverse cultures and traditions. The event aimed to promote
            cultural exchange and understanding among the university community. Students from various countries and
            backgrounds enthusiastically participated, showcasing their traditional attire, music, dance, and culinary
            delights. The campus was transformed into a bustling cultural hub, with colorful stalls offering a wide array of
            traditional foods, arts, and crafts. The aroma of international cuisines filled the air as visitors sampled dishes
            from around the world. Cultural performances took center stage, with students demonstrating their talents through
            captivating dances, musical performances, and theatrical presentations. The audience was mesmerized by the vibrant
            displays of culture, which reflected the university's commitment to diversity and inclusivity. Throughout the day,
            attendees had the opportunity to engage in cultural workshops, where they could learn traditional art forms,
            participate in language classes, and explore cultural practices. These interactive sessions fostered cross-cultural
            connections and enriched the learning experience. The event concluded with a grand parade, where participants
            showcased their national flags and marched together in a celebration of unity amidst diversity. It was a powerful
            symbol of the university's commitment to embracing cultural differences and fostering a sense of belonging.</p>

          <p>The Student Council and 2023 Culture Week Committee Team are happy to invite you to participate in this year’s
            Culture Week Exhibitions and Concert Night activities. Culture Week is an annual event at USIU-Africa that brings
            together all the school's different communities to demonstrate their cultures through cuisine, music, traditional
            dances, attire, art, festivities, and theatre. Each year, the spectacle becomes more dazzling and elaborate,
            attracting greater crowds and inspiring amazement. It brings inclusivity and togetherness among different cultures
            represented and showcases the many distinct communities within the university.</p>

          <p>This year, the activities are as follows:</p>

          <table>
            <tr>
              <th>Date</th>
              <th>Event</th>
              <th>Time</th>
            </tr>
            <tr>
              <td>Tuesday, March 14, 2023</td>
              <td>Culture Exhibitions</td>
              <td>8:00 am onwards</td>
            </tr>
            <tr>
              <td>Wednesday, March 15, 2023</td>
              <td>Opening Ceremony</td>
              <td>12:00 pm</td>
            </tr>
            <tr>
              <td>Thursday, March 16, 2023</td>
              <td>Culture Night Gala</td>
              <td>6:00 pm - 12:00 am</td>
            </tr>
          </table>

          <h2>Ticket Prices:</h2>

          <table>
            <tr>
              <th>Ticket Type</th>
              <th>Price</th>
            </tr>
            <tr>
              <td>VVIP (Single)</td>
              <td>KES. 7,000.00</td>
            </tr>
            <tr>
              <td>VVIP (Pair - 2)</td>
              <td>KES. 10,000.00</td>
            </tr>
            <tr>
              <td>VIP (Single)</td>
              <td>KES. 3,000.00</td>
            </tr>
            <tr>
              <td>VIP (Pair - 2)</td>
              <td>KES. 5,000.00</td>
            </tr>
            <tr>
              <td>Regular (Group of 5)</td>
              <td>KES. 1,800.00</td>
            </tr>
            <tr>
              <td>Regular (Single)</td>
              <td>KES. 400.00</td>
            </tr>
          </table>

          <p>The event’s organizing team has provided the following link for purchase of ticket sales for the upcoming USIU-Africa Culture Week 2023. Tickets are now available for purchase.</p>

          <p>We look forward to hosting you and hope you will enjoy the rich culture that our university is blessed with. Additional information can be obtained from the 2023 Culture Week Chairperson John Onono via jonono@usiu.ac.ke. More information will be shared via email, social media platforms, and digital screens across campus.</p>

          <div class="media-grid">
            <div class="grid-item">
              <img src="/images/photo65.jpg" alt="Image 1">
            </div>
            <div class="grid-item">
              <img src="/images/explore2.jpeg" alt="Image 2">
            </div>
            <div class="grid-item">
              <img src="/images/explore1.jpeg" alt="Image 3">
            </div>
            <div class="grid-item">
              <img src="/images/culture2.avif" alt="Image 5">
            </div>
              <div class="grid-item">
              <img src="/images/usiu-basketball.jpeg" alt="Image 6">
            </div>
            <div class="grid-item">
              <img src="/images/photo65.jpg" alt="Image 7">
            </div>
            <div class="grid-item">
              <img src="/images/explore2.jpeg" alt="Image 8">
            </div>
            <div class="grid-item">
              <img src="/images/explore1.jpeg" alt="Image 9">
            </div>
            <!-- <div class="grid-item">
              <video src="video.mp4" controls></video>
            </div> -->
          </div>

          <div class="article-footer">
            <div class="rating">
              <i class="far fa-heart"></i>
              <span>25.6K</span>
            </div>
            <div class="comments">
              <h2>Comments</h2>
              <ul class="comment-list">
                <li class="comment">
                  <div class="comment-header">
                    <img src="/images/post2.jpeg" alt="User Profile Picture">
                    <div class="comment-info">
                      <span class="comment-author">Janey</span>
                      <span class="comment-time">3 hours ago</span>
                    </div>
                  </div>
                  <p class="comment-text">🙌 Awesome!.</p>
                  <ul class="nested-comment-list">
                    <li class="comment">
                      <div class="comment-header">
                        <img src="/images/post2.jpeg" alt="User Profile Picture">
                        <div class="comment-info">
                          <span class="comment-author">Edwin</span>
                          <span class="comment-time">2 hours ago</span>
                        </div>
                      </div>
                      <p class="comment-text">I can't wait to be there!✨.</p>
                    </li>
                  </ul>
                </li>
                <li class="comment">
                  <div class="comment-header">
                    <img src="/images/explore1.jpeg" alt="User Profile Picture">
                    <div class="comment-info">
                      <span class="comment-author">John Doe</span>
                      <span class="comment-time">1 hour ago</span>
                    </div>
                  </div>
                  <p class="comment-text">Nice 🎉.</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </article>
  </main>
</body>

</html>