<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/CSS/explore.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
  <header>
    <div class="logo">Explore</div>
    <nav>
      <ul>
        <li><a href="/Views/dashboard.html"><i class="fas fa-home"></i> </a></li>
        <li><a href="/Views/explore.html"><i class="fas fa-compass"></i> </a></li>
        <li><a href="/Views/notification.html"><i class="fas fa-bell"></i> </a></li>
        <li><a href="/Views/profile.html"><i class="fas fa-user"></i> </a></li>
        <li><a href="/Views/login.html"><i class="fas fa-sign-out-alt"></i></a></li>
      </ul>
    </nav>
  </header>
  <main>
      <h2>Popular Posts</h2>
    <section class="explore-section">
      <div class="post">
        <div class="post-image">
          <img src="/images/post1.jpg" alt="Post 1">
        </div>
        <div class="post-content">
          <h3>Mental Health Awareness Month </h3>
          <p>Health Awareness Month (May). The event aimed to bring people together.</p>
          <a href="article.html" class="readmore">Read more</a>
        </div>
      </div>
      <div class="post">
        <div class="post-image">
          <img src="/images/usiu-basketball.jpeg" alt="Post 2">
        </div>
        <div class="post-content">
          <h3>USIU Basketball</h3>
          <p> By Naumih Noah Naumih Noah, an Associate Professor of Analytical/Bioanalytical.</p>
          <a href="article.html" class="readmore">Read more</a>
        </div>
      </div>
      <div class="post">
        <div class="post-image">
          <img src="/images/photo65.jpg" alt="Post 3">
        </div>
        <div class="post-content">
          <h3>Mastercard Foundation partners</h3>
          <p>Ms. Linda Mfuchi, donated Kshs. 70,000 and requested that it be utilized.</p>
          <a href="article.html" class="readmore">Read more</a>
        </div>
      </div>
      <div class="post">
        <div class="post-image">
          <img src="/images/explore 7.webp" alt="Post 3">
        </div>
        <div class="post-content">
          <h3> Imagine Worldcup championship </h3>
          <p>By Esther Wekoto Building stronger teams while unlocking the power..</p>
          <a href="article.html" class="readmore">Read more</a>
        </div>
      </div>
      <div class="post">
        <div class="post-image">
          <img src="/images/explore1.jpeg" alt="Post 3">
        </div>
        <div class="post-content">
          <h3>Cultureweek USIU</h3>
          <p>By Collins Oduor and CTW Team The 2023 USIU-Africa Innovation and Hackathon event, sponsored by Blipearth.</p>
          <a href="article.html" class="readmore">Read more</a>
        </div>
      </div>
      <div class="post">
        <div class="post-image">
          <img src="/images/explore2.jpeg" alt="Post 3">
        </div>
        <div class="post-content">
          <h3>Student recruitment activities</h3>
          <p> The USIU-Africa Admissions Team - represented by Jane Asava,.</p>
          <a href="article.html" class="readmore">Read more</a>
        </div>
      </div>
      <div class="post">
        <div class="post-image">
          <img src="/images/explore3.jpeg" alt="Post 3">
        </div>
        <div class="post-content">
          <h3>Protaract Club of USIU-Africa </h3>
          <p>he 8th Annual Interact Careers garage event, hosted last month, was organized by the Rotaract Clubs </p>
          <a href="article.html" class="readmore">Read more</a>
        </div>
      </div>
      <div class="post">
        <div class="post-image">
          <img src="/images/explore7.jpeg" alt="Post 3">
        </div>
        <div class="post-content">
          <h3>Graduation of 2024</h3>
          <p>Criminal Justice Club takes part in team building exercise.</p>
          <a href="article.html" class="readmore">Read more</a>
        </div>
      </div>

        <div class="post">
        <div class="post-image">
          <img src="/images/uisu catalog.jpeg" alt="Post 3">
        </div>
        <div class="post-content">
          <h3>Unlock your success by making use of the USIU-Africa Academic Catalogue</h3>
          <p>The Chair of the University Council, Mr. Kris Senanu (center) following the official launch of the USIU-Africa Brand</p>
          <a href="article.html" class="readmore">Read more</a>
        </div>
      </div>

              <div class="post">
        <div class="post-image">
          <img src="/images/usiu_library.jpeg" alt="Post 3">
        </div>
        <div class="post-content">
          <h3>Faculty and Students from USIU-Africa</h3>
          <p> By CTW Team USIU-Africa's annual Culture Night Gala is a vibrant and colorful celebration of diversity</p>
          <a href="article.html" class="readmore">Read more</a>
        </div>
      </div>



       <div class="post">
        <div class="post-image">
          <img src="/images/usiu-bb.jpeg" alt="Post 3">
        </div>
        <div class="post-content">
          <h3>Sports Updates - June 02, 2023</h3>
          <p>By Shyat Moi Lemoshira Basketball This weekend, the USIU-Africa men's basketball team, the Tigers faced off with Strathmore University.</p>
          <a href="article.html" class="readmore">Read more</a>
        </div>
      </div>



        <div class="post">
        <div class="post-image">
          <img src="/images/usiu-deb.jpeg" alt="Post 3">
        </div>
        <div class="post-content">
          <h3>Spoken Arts and Debate Society soars high at the 1st leg of Ilo'uwa opens</h3>
          <p> By Lauryn Ojore Spoken Arts and Debate Society (SADS) has yet again made its mark in the debate arena, this time at the Ilo'uwa debate tournament,</p>
          <a href="article.html" class="readmore">Read more</a>
        </div>
      </div>



      <div class="post">
        <div class="post-image">
          <img src="/images/usiu-flbrary.jpeg" alt="Post 3">
        </div>
        <div class="post-content">
          <h3>USIU-Africa Library hosts annual Library Week event</h3>
          <p>By Justin Kirembeka and Fredrick Adika Last week, our campus came alive with the vibrant spirit of learning,
            By CTW Team As a new student at USIU-Africa, you may have questions about course offerings,</p>
          <a href="article.html" class="readmore">Read more</a>
        </div>
      </div>

        <div class="post">
        <div class="post-image">
          <img src="/images/usiu-or.jpeg" alt="Post 3">
        </div>
        <div class="post-content">
          <h3>USIU-Africa welcomes undergraduate students with an engaging orientation session</h3>
          <p>By Esther Lihavi On Friday, March 31, the USIU-Africa Alumni Association held a breakfast event at Utalii Hotel for the Vice Chancellor, </p>
          <a href="article.html" class="readmore">Read more</a>
        </div>
      </div>


        <div class="post">
        <div class="post-image">
          <img src="/images/usiu.jpeg" alt="Post 3">
        </div>
        <div class="post-content">
          <h3>Unlock your success by making use of the USIU-Africa Academic Catalogue</h3>
          <p>By Yviona Musa On Friday, March 31, 2023, the USIU-Africa student body and selected lecturers visited the home.</p>
          <a href="article.html" class="readmore">Read more</a>
        </div>
      </div>

    </section>
  </main>
</body>
</html>
