<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Profile</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="stylesheet" href="/CSS/profile.css">
</head>

<body>
  <header>
    <div class="logo">My Profile</div>
    <nav>
      <ul>
        <li><a href="/Views/dashboard.html"><i class="fas fa-home"></i> </a></li>
        <li><a href="/Views/explore.html"><i class="fas fa-compass"></i> </a></li>
        <li><a href="/Views/notification.html"><i class="fas fa-bell"></i> </a></li>
        <li><a href="/Views/profile.html"><i class="fas fa-user"></i> </a></li>
        <li><a href="/Views/login.html"><i class="fas fa-sign-out-alt"></i></a></li>
      </ul>
    </nav>
  </header>

   <main>

    <div class="profile">
  <div class="profile-container">
    <div class="profile-header">
      <div class="profile-photo">
        <img src="/images/post.jpg" alt="Profile Photo">
      </div>
      <div class="profile-info">
        <h3 class="profile-name">John Doe</h3>
        <p class="profile-bio">🌍 Environmentalist | Nature Lover | Writer 📝. <br>📍 Based in USIU-Africa: Exploring the local literary scene and attending events to connect with fellow writers and book enthusiasts.</p>
        <ul class="profile-stats">
          <li><span>500</span> followers</li>
          <li><span>300</span> following</li>
        </ul>
      </div>
      <div class="settings">
        <a href="#"><i class="fas fa-cog"></i></a>
      </div>
    </div>
  </div>


    <div class="profile-articles">
      <h3 class="section-title">My Articles</h3>
      <div class="articles-container">

        <div class="article">
          <div class="article-image">
            <img src="/images/post1.jpg" alt="Article Image">
          </div>
          <div class="article-info">
           <a href="/Views/article.html" class="article-title">
           <h4>Mental Health Awareness Month</h4>
              <p class="summary" >Health Awareness Month (May). The event aimed to bring people together.</p>
            </a>
            <div class="rating-bar">
              <div class="rating-progress" style="width: 20%;"></div>
            </div>

            <div class="likes">
                <i class="fas fa-heart" > 232</i>

            </div>
          </div>
        </div>

        <div class="article">
          <div class="article-image">
            <img src="/images/photo65.jpg" alt="Article Image">
          </div>
          <div class="article-info">
           <a href="/Views/article.html" class="article-title">
            <h4>Mastercard Foundation partners</h4>
              <p class="summary" >Ms. Linda Mfuchi, donated Kshs. 70,000 and requested that it be utilized..</p>
            </a>
            <div class="rating-bar">
              <div class="rating-progress" style="width: 30%;"></div>
            </div>

            <div class="likes">
                <i class="fas fa-heart" > 7.6K</i>
            </div>


          </div>
        </div>

                <div class="article">
          <div class="article-image">
            <img src="/images/uisu catalog.jpeg" alt="Article Image">
          </div>
          <div class="article-info">
           <a href="/Views/article.html" class="article-title">
            <h4>Academic Catalogue</h4>
              <p class="summary" >The Chair of the University Council, Mr. Kris Senanu (center) following the official launch of the USIU-Africa Brand.</p>
            <div class="rating-bar">
              <div class="rating-progress" style="width: 70%;"></div>
            </div>
            </a>
            <div class="likes">
                <i class="fas fa-heart" > 2394</i>
            </div>

        </div>
        </div>

                <div class="article">
          <div class="article-image">
            <img src="/images/explore1.jpeg" alt="Article Image">
          </div>
          <div class="article-info">
           <a href="/Views/article.html" class="article-title">
            <h4>CultureWeek</h4>
              <p class="summary" >By Collins Oduor and CTW Team The 2023 USIU-Africa Innovation and Hackathon event, sponsored by Blipearth</p>
              </a>
            <div class="rating-bar">
              <div class="rating-progress" style="width: 80%;"></div>
            </div>

            <div class="likes">
                <i class="fas fa-heart" > 7154</i>
            </div>

          </div>
        </div>

        <div class="article">
          <div class="article-image">
            <img src="/images/explore2.jpeg" alt="Article Image">
          </div>
          <div class="article-info">
           <a href="/Views/article.html" class="article-title">
            <h4>Faculty and Students from USIU-Africa</h4>
              <p class="summary" >By CTW Team USIU-Africa's annual Culture Night Gala is a vibrant and colorful celebration of diversity.</p>
            </a>
            <div class="rating-bar">
              <div class="rating-progress" style="width: 40%;"></div>
            </div>

            <div class="likes">
                <i class="fas fa-heart" > 4500</i>
            </div>

          </div>
        </div>


        <div class="article">
          <div class="article-image">
            <img src="/images/usiu-deb.jpeg" alt="Article Image">
          </div>
          <div class="article-info">
           <a href="/Views/article.html" class="article-title">
            <h4>Sports Updates - June 02, 2023</h4>
              <p class="summary" >By Lauryn Ojore Spoken Arts and Debate Society (SADS) has yet again made its mark in the debate arena, this time at the Ilo'uwa debate tournament.</p>
            </a>
            <div class="rating-bar">
              <div class="rating-progress" style="width: 90%;"></div>
            </div>
            <div class="likes">
                <i class="fas fa-heart" > 10K</i>
            </div>
            <i></i>
          </div>
        </div>


    </div>
    </div>
  </div>
</main>

</body>

</html>
