<!DOCTYPE html>
<html>
<head>
  <title>USIUconnect Authentication - Sign Up</title>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
  <div class="container">
    <div class="form-container">
      <h2>Create a New Account</h2>
      <form id="signup-form" class="auth-form">
        <input type="text" id="signup-name" placeholder="Full Name" required>
        <input type="email" id="signup-email" placeholder="Student Email" required>
         <input type="tel" id="signup-phone" placeholder="Phone Number" required>
        <input type="password" id="signup-password" placeholder="Password" required>
        <button type="submit">Sign Up</button>
        <div class="terms">By signing up, you agree to our Terms.</div>
        <hr>
        <a  href="login.html" class="login">Log In</a>
      </form>
    </div>
  </div>
</body>
</html>
